*, ::before, *::after {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}
:root {
    --hue-neutral: 200;
    --hue-wrong:0;
    --hue-correct:145;
}
body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-color: hsl(var(--hue), 100%, 20%);
    background-image: url('https://api.army.mil/e2/c/images/2021/02/26/e35b9a91/size1.jpg'); 
    background-size: cover;
}
.background-image {
    width: 800px;
    height: 1420vh;
    max-width: 100vh;
}
header {
    background-color: rgb(228, 214, 214);
    font-size: 24px;
    text-align: center;
    width: 100%;
}

body.correct {
    --hue: var(--hue-correct);
}
body.wrong {
    --hue: var(--hue-wrong):
}
.container {
    background-color: rgb(82, 143, 121);
    border-radius: 5px;
    padding: 10px;
    max-width: 800px;
    box-shadow: 0 0 10px 2px;
    font-size: 30px;
}

.btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
    animation-name: ansbtns;
    animation-duration: 5s;
    animation-duration: alternative;
    animation-iteration-count: 2;
}
    @keyframes ansbtns {
    50% {background-color: rgb(255, 205, 224); left: 0px; top: 0px;}
    25% {background-color: rgb(83, 179, 115);left: 200px; top: 200px;}
    50% {background-color: aqua; left: 0px; top: 200px;}
    75% {background-color: burlywood;left: 0px; top: 0px;}
    100% {background-color: rgb(241, 226, 206);left: 0px; top: 0px;}
}

.btn {
    display: grid;
    --hue: var(--hue-neutral);
    border: 1px solid hsl(var(--hue), 100%, 30%);
    background-color:hsl(var(--hue), 100%, 50%);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(201, 216, 203);
    outline: none;
}
.start-btn {
    animation-name: start;
    animation-duration: 12s;
    animation-direction: alternate;
    animation-iteration-count: 2;
    font-size: 12px;
    cursor: pointer;
    opacity: .8;
}
@keyframes start {
    50% {background-color: rgb(255, 205, 224); left: 0px; top: 0px;}
    25% {background-color: yellowgreen;left: 200px; top: 200px;}
    50% {background-color: rgb(45, 155, 155); left: 0px; top: 200px;}
    75% {background-color: burlywood;left: 0px; top: 0px;}
    100% {background-color: rgb(143, 87, 14);left: 0px; top: 0px;}
}
.btn:hover {
    border-color: rgb(248, 240, 242);
}
.btn.correct {
    --hue: var(--hue-correct);
}

.btn.wrong {
    --hue: var(--hue-wrong);
}

.start-btn, .next-btn {
    font-weight: bolder;
    font-size: 5.9rem;
    padding: 10px 20px;
}

.next-btn {
    justify-content: center;
    font-size: 22px;
    text-align: center;
}
.hide {
    display: none;
}

.question {
    text-justify: newspaper;
    font-size: 25px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.open-button {
    background-color: #1032f3;
    color: white;
    padding: 10px 14px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 13px;
    right: 18px;
    width: 180px;
}
        
    .form-popup {
        display: none;
        position: absolute;
        bottom: 0;
        right: 15px;
        border: 3px solid #300731;
        z-index: 9;
        }
        
        .form-container {
          max-width: 300px;
          padding: 10px;
          background-color: rgb(32, 112, 204);
        }
        
        .form-container input[type=text], .form-container input[type=password] {
          width: 100%;
          padding: 5px;
          margin: 5px 0 22px 0;
          border: none;
          background: #f1f1f1;
        }
        
        .form-container input[type=text]:focus, .form-container input[type=password]:focus {
          background-color: rgb(238, 143, 143);
          outline: none;
        }

    .form-container .btn {
        background-color: #190e2e;
        color: rgb(122, 72, 72);
        padding: 16px 20px;
        border: none;
        cursor: pointer;
        width: 100%;
        margin-bottom:10px;
        opacity: 0.8;
        animation: notqualified,clickhere;
        }
        
    .form-container .cancel {
          background-color: rgb(205, 224, 32);
        }

    .form-container .btn:hover, .open-button:hover {
          opacity: 1;
        }